html, body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    background: #4f4f4f;
}

div{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h4{
    margin: 5px 2px;
    display: inline;
}

h5{
    margin: 2px;
}

#list_folder{
    display:flex;
    height: 95%;
    width:100%;
}

#total_list{
    width:100%;
    height: 100%;
}

#to_print{
    width:100%;
    height:100%;
    border: 1px solid #aaa;
    background: #ccc;
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
}

#to_print.hidden{
    transform: translateX(+95%);
}

#to_print_label{
    height: 100%;
    width: 5%;
    background: #a4a4a4;
    float: left;
}

#to_print_label span{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#print{
    width: 95%;
    height: 2%;
    margin: 1px auto;
}

#form_new{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s; 
    background: #ccc;
}

#form_new.hidden{
    transform: translateY(+95%);
}

#new_label{
    width:100%;
    height:5%;
    text-align: center;
    background: #aaa;
}

.expand {
    display: none;
}

.hidden .expand {
    display: block;
}

.contract {
    display: block;
}

.hidden .contract {
    display: none;
}

#lista_cartellini, #to_print_list{
    height:93%;
    width:95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;    
    align-items: flex-start;
}

#form {
    text-align: center;
    margin: 0 auto;
}

#form * {
    display: block;
    margin: 0 auto;
    height: 100%;
}

#form input[type="text"], #form textarea{
    width: 80%;
}

#form textarea{
    height: 50%;
}


.cartellino, .selezionato {
    width: 15%;
    display:inline;
    margin: 5px auto;
    border: 1px solid #000;
    background-color: #3b3b3b;
    color: #f4f4f4;
    font: 18px Gabriola, sans-serif, arial;
}

.bianco{
    background: rgba(255, 255, 255, 0.322);
}

.blu{
    background: rgba(0, 100, 250, 0.322);
}

.verde{
    background: rgba(0, 250, 42, 0.322);
}

.rosso{
    background: rgba(250, 29, 0, 0.322);
}

.giallo{
    background: rgba(250, 233, 0, 0.322);
}

.crt_details {
    display: inline-block;
    width: 75%;
    margin: 2px;
    padding-left: 5px;
}

.qty_modifier {
    width: 100%;
    margin-top: 20px;
}

button[role=crt_remove] {
    float: right;
}

#sort{
    float: left;
    margin: 5px;
}

button, .qty_modifier div input[role=crt_qty], .qty_modifier div input[role=crt_qty]:focus{
    -webkit-appearance: none;
    margin: 2%;
    background: #3b3b3b;
    color: #f4f4f4;
    border: none;
    outline: none;
}

.qty_modifier div input[role=crt_qty] {
    width: 10%;
    background: #6f6f6f;
    padding-left: 2px;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #5f5f5f;
}

*::-webkit-scrollbar {
	width: 3px;
	background-color: #5f5f5f;
}

*::-webkit-scrollbar-thumb {
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f5f5f5;
}

#search_container{
    width: 80%;
    height: 7%;
    margin: 0 auto;
    padding: 15px 0 0 0;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

#search_container .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

#search_bar{
    width: 100%;
    height: 50px;
    background: #3b3b3b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #f4f4f4;
    padding-left: 45px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
}

#search_bar::-webkit-input-placeholder {
    color: #65737e;
}

#search_container input#search:hover, #search_container input#search:focus, #search_container input#search:active{
    outline:none;
    background: #4f4f4f;
}

#search_bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background-image: url('../img/clear_search.png');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: top left;
  }